.slider{
  position: relative;
  overflow: hidden;
  @include phones{    
    margin-top: 10rem;
  }
}

.slider__title{
  font-size: rem(50px);
  @include myriad(bold);
  color: #045c8d;
  text-align: center;
  text-transform: uppercase;
  margin-top: rem(183px);
  @include tablets{    
    margin-top: rem(119px);
  }
  @include phones-small{
    margin-top: rem(55px);
  }
}

.slider__content-list{
  width: 100%;
  position: relative;
  display: flex;
}
.slider__content-item{
  position: relative;
  transition: transform 0.6s ease;
  width: 33%;
  margin-top: rem(100px);
  display: flex;
  justify-content: center;
  @include tablets{
    margin-top: rem(68px);

  }
}
.slider__content-img{
  max-width: 100%;
  max-height: 100%;
  width: 85%;
  object-fit: cover;
  filter: grayscale(100%);
  @include tablets{
    filter: grayscale(0);
    width: 50%;
  }
}
.slider__button{
  width: rem(34px);
  height: rem(34px);
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  display: block;
  border: 5px solid #00bfd2;
  border-radius: 3px;
  border-top-color: transparent;
  border-right-color: transparent;
  background: transparent;
  z-index: 20;
  cursor: pointer;
  @include tablets{
  }
  &-prev{
    left: 6px;
    top: 80%;
    transform: rotate(45deg);
    outline: none;
    @include tablets{
      top: 75%;
    }
  }
  &-next{
    right: 6px;
    top: 80%;
    transform: rotate(225deg);
    outline: none;
    @include tablets{
      top: 75%;
    }
  }
}
